// Define variables for your color scheme

// For example:
$red: #FFA69E;
$blue: #5CA4A9;
$yellow: #F4F1BB;
$orange: #FF963A;
$green: #9BC1BC;
$gray: #0E0000;
$brown: #A6563E;
$pink: #F4A8BF ;
$light-gray: #FFFFFF;


// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
