<div class="container">
  <div class="ui segment">
   <h3>Mailbox</h3>
   <h4>All your messages can be found here</h4>
   <div class="ui list">
    <div class="item">
     <% @conversations.each do |conversation| %>
     <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
      <% if conversation.sender_id == current_user.id %>
        <% recipient = User.find(conversation.recipient_id) %>
      <% else %>
        <% recipient = User.find(conversation.sender_id) %>
      <% end %>
      <%= link_to recipient.first_name, conversation_messages_path(conversation)%>
     <% end %>
    <% end %>
    </div>
   </div>
  </div>
  <br>
  <div class="ui segment">
   <h3>All your contacts</h3>
   <h4>Choose who you want to contact</h4>
    <div class="ui list">
     <% @users.each do |user| %>
      <% if user.id != current_user.id %>
       <div class="item">
     <%= cl_image_tag user.photo, class: "avatar dropdown-toggle" %> <%=  user.first_name %> <%=  link_to "Send message", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: "btn btn-primary btn-sm" %>
   </div>
    <% end %>
   <% end %>
   </div>
  </div>
</div>
