<div class="full-width-container">

  <div class="big-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'eggbnb.gif' %>)">
    <%= link_to new_chicken_path do %>
    <h2>find eggsactly what you're looking for...</h2>
      <button class="btn btn-primary"> book a chicken </button>
    <% end %>
  </div>
</div>


