<div class="full-width-container">

  <div class="big-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'list_a_chicken.jpg' %>)">
    <%= link_to new_chicken_path do %>
      <button class="btn btn-primary"> "List a Chicken"</button>
    <% end %>
  </div>

  <div class="big-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(<%= asset_path 'rent_a_chicken.jpg' %>)">
    <%= link_to chickens_path do %>
      <button class="btn btn-primary"> "Rent a Chicken"</button>
    <% end %>
  </div>

</div>
