<div class="full-width-container">

  <div class="big-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'eggbnb.gif' %>)">
    <%= link_to new_chicken_path do %>
    <h2>find eggsactly what you're looking for... </p>
</h2>
      <button class="btn btn-primary"> book a chicken </button>
    <% end %>
  </div>
   </div>
<!-- <div class="container">
  <div class="row justify-content-center">

    <div class="col-md-6">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'list_a_chicken.jpg' %>)">
        <a class="btn btn-flat" href="#">list a chicken</a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'rent_a_chicken.jpg' %>)">
        <a class="btn btn-flat" href="#">rent a chicken</a>
      </div>
    </div>

  </div>
</div>
 -->
