@font-face {
  font-family: 'MazdaType-Bold';
  src: url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Bold.eot');
  src: url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Bold.woff2') format('woff2'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Bold.woff') format('woff'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Bold.ttf') format('truetype'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Bold.svg#MazdaType-Bold') format('svg'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MazdaType-BoldItalic';
  src: url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-BoldItalic.eot');
  src: url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-BoldItalic.woff2') format('woff2'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-BoldItalic.woff') format('woff'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-BoldItalic.ttf') format('truetype'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-BoldItalic.svg#MazdaType-BoldItalic') format('svg'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MazdaType-Italic';
  src: url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Italic.eot');
  src: url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Italic.woff2') format('woff2'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Italic.woff') format('woff'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Italic.ttf') format('truetype'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Italic.svg#MazdaType-Italic') format('svg'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MazdaType-Medium';
  src: url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Medium.eot');
  src: url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Medium.woff2') format('woff2'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Medium.woff') format('woff'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Medium.ttf') format('truetype'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Medium.svg#MazdaType-Medium') format('svg'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MazdaType-MediumItalic';
  src: url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-MediumItalic.eot');
  src: url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-MediumItalic.woff2') format('woff2'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-MediumItalic.woff') format('woff'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-MediumItalic.ttf') format('truetype'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-MediumItalic.svg#MazdaType-MediumItalic') format('svg'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MazdaType-Regular';
  src: url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Regular.eot');
  src: url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Regular.woff2') format('woff2'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Regular.woff') format('woff'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Regular.ttf') format('truetype'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Regular.svg#MazdaType-Regular') format('svg'),
       url('https://s0.2mdn.net/creatives/assets/3074457/MazdaType-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

