.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.form-inline {
  label {
    color: #495057;
    margin-right: 0.5rem !important;
  }
}

.btn-navbar {
    margin-right: 0.5rem !important;
}
